$dark-blue: #002344;
$teal: #77A2B5;

%image-replacement {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

html {
  background: $dark-blue;
  color: $dark-blue;
  font-family: sans-serif;
}

a {
  color: $teal;
  text-decoration: none;
}

body {
  margin: 0;
}

$container-width: 960px;
.container {
  margin: 0 auto;
  width: $container-width;
}

.two-column {
  width: $container-width / 2;
}

header {
  background: #005275;
  height: 70px;

  h1 {
    background: url('../images/logo.png') no-repeat;
    height: 50px;
    width: 171px;
    margin: 10px 0 0;
  }
}

header h1, footer h2 {
  float: left;  
  @extend %image-replacement;
}

.login {
  float: right;
  font-size: 14px;
  margin-top: 28px;

  a {
    border-left: 1px solid $dark-blue;
    margin-left: 1px;
    padding-left: 5px;
  }
}

nav, footer {
  background: $dark-blue;
}

nav {
  font-size: 14px;
  height: 36px;
}

nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

nav li {
  float: left;
}

nav a {
  display: block;
  padding: 11px 20px;
}

.hero {
  background: $teal url('../images/hero.jpg') 50% no-repeat;
  height: 350px;
  position: relative;
}

.hero .content {
  background: rgba(0, 0, 0, .25);
  bottom: 0;
  height: 130px;
  position: absolute;
  width: 100%;
}

.hero h1 {
  color: white;
  float: left;
  font-size: 40px;
  font-weight: normal;
  margin: 25px 0;
  text-shadow: 0 0 20px black;
}

.hero strong {
  display: block;
}

.hero a {
  background: $teal; /* Old browsers */
  background: -moz-linear-gradient(top, $teal 0%, #005275 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$teal), color-stop(100%,#005275)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $teal 0%,#005275 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $teal 0%,#005275 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $teal 0%,#005275 100%); /* IE10+ */
  background: linear-gradient(to bottom, $teal 0%,#005275 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$teal', endColorstr='#005275',GradientType=0 ); /* IE6-9 */

  border: 1px solid $dark-blue;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(255,255,255,.5) inset, -1px -1px 1px rgba(0,0,0,.5) inset;
  color: white;
  float: right;
  font-size: 30px;
  margin: 39px 0;
  padding: 10px 20px;
}

.details {
  background: #ECE2C6;
}

.details ul {
  list-style: none;
  margin: 0 auto;
  padding: 40px 0;
  width: 75%;
}

.details li {
  background-position: 0 -5px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  padding-left: 60px;
}

.details li:last-child {
  margin-bottom: 0;
}

.details h2 {
  margin: 0 0 5px;
}

.details p {
  margin: 0;
}

.detail--agile {
  background-image: url('../images/agile.png');
}

.detail--mobile {
  background-image: url('../images/mobile.png');
}

.detail--cloud {
  background-image: url('../images/cloud.png');
}

footer {
  height: 52px;
}

footer h2 {
  background: url('../images/logo_small.png');
  height: 40px;
  margin: 6px 30px 6px 0;
  width: 137px;
}

footer ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 18px 0;
}

footer li {
  border-right: 1px solid black;
  float: left;
}

footer li:last-child {
  border-right: none;
}

footer a, footer small {
  font-size: 14px;  
}

footer a {
  padding: 10px;
}

footer small {
  color: $teal;
  float: right;
  margin: 19px 0;
}

label {
  display: block;
}

/*label[for="newsletter"] {
  display: inline;
}*/

input.error {
  background: red;
}