!!!
%html
  %head
    %title NoiseCo
    = stylesheet_link_tag "bootstrap", "jquery-ui", "style"
  %body
    %header
      .container
        %h1 NoiseCo
        .login
          Welcome, Jeffrey
          %a{:href => "#"} My Account
          %a{:href => "#"} Log Out
    %nav
      .container
        %ul
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Clients
          %li
            %a{:href => "#"} Testimonials
          %li
            %a{:href => "#"} Contact Us
    %section.hero
      .content
        .container
          %h1
            Achieve synergy with
            %strong crowdsourced webinar solutions.
          %a{:href => "#"} Sign up now
          / <a href="#" data-toggle="modal" data-target=".modal">Sign up now</a>
    %section.details
      .container
        %ul
          %li.detail--agile
            %h2 Agile
            %p Blah blah blah blah.
          %li.detail--mobile
            %h2 Mobile
            %p Blah blah blah blah.
          %li.detail--cloud
            %h2 Cloudy
            %p Blah blah blah blah.
    %footer
      .container
        %h2 NoiseCo
        %ul
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Clients
          %li
            %a{:href => "#"} Testimonials
          %li
            %a{:href => "#"} Contact Us
        %small © 2015 NoiseCo. All rights reserved.
    .mymodal
      %form{:action => "", :autocomplete => "off", :method => "post"}
        %label{:for => "first_name"}
          First Name
        %input#first_name{:name => "first_name", :required => "", :type => "text"}/
        %label{:for => "last_name"}
          Last Name
        %input#last_name{:name => "last_name", :required => "", :type => "text"}/
        %label{:for => "email"}
          Email
        %input#email{:name => "email", :required => "", :type => "email"}/
        %label{:for => "password"}
          Password
        %input#password{:minlength => "8", :name => "password", :placeholder => "minimum 8 characters", :required => "", :type => "password"}/
        %label{:for => "password_confirmation"}
          Confirm Password
        %input#password_confirmation{:name => "password_confirmation", :required => "", :type => "password"}/
        %label{:for => "newsletter"} Sign up for newsletter?
        %input#newsletter{:name => "newsletter", :type => "checkbox"}/
        %textarea
        %select{:multiple => "multiple", :name => "number"}
          %option{:value => ""} Select...
          %option{:value => "one"} One
          %option{:value => "two"} Two
          %option{:value => "three"} Three
        %input{:type => "submit", :value => "Sign Up"}/
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4#myModalLabel.modal-title Modal title
          .modal-body
            \...
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-primary{:type => "button"} Save changes
    = javascript_include_tag "jquery", "bootstrap", "jquery-ui", "jquery.validate", "script"